body {
    align-items: center;
    background-color: #fff;
    display: flex;
    height: 100vh;
    justify-content: center;
    margin: 0;
  }
/* example 2 css */

.hexBoxl {
    float: left;
    border-right: 30px solid #93aadc;
    border-top: 52px solid transparent;
    border-bottom: 52px solid transparent;
}
.hexBoxm {
    float: left;
    width: 60px;
    height: 104px;
    background-color: #93aadc;
}
.hexBoxr {
    float: left;
    border-left: 30px solid #93aadc;
    border-top: 52px solid transparent;
    border-bottom: 52px solid transparent;
} 
.hexBg{
    background-color: #6686cc;
}
.heading
{
    text-align: center;
    display: flex;
    height: 100%;
    align-items: center;
    color: #fff;
}
  

.pentagon {
    position: relative;
    width: 85px;
    box-sizing: content-box;
    border-width: 65px 18px 0;
    border-style: solid;
    border-color: #93aadc transparent;
    margin-top: 25px;
  }
  .pentagon:before {
    content: "";
    position: absolute;
    height: 0;
    width: 0;
    top: -105px;
    left: -18px;
    border-width: 0 61px 40px;
    border-style: solid;
    border-color: transparent transparent #93aadc;
  }
  .pentagonTxt
  {
    position: absolute;
    top: -39px;
  }
  .pentagonBg{
    justify-content: space-around !important;
    height: 160px;
    background: #d4def3;
  }
  .memberContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    border: 1px solid #6686cc;
  }
.memberBox
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 150px;
    border: 1px solid #6686cc;
}
.circle {
    width: 100px;
    height: 100px;
    background: #93aadc;
    border-radius: 50%
  }
  .circleCenter
  {
    justify-content: center;
  }