@font-face {
    font-family: 'Open-Sans';
    src: url(./font/open-sans-v17-latin-regular.eot); 
    src: url(./font/open-sans-v17-latin-regular.eot?#iefix) format('embedded-opentype'), 
         url(./font/open-sans-v17-latin-regular.woff2) format('woff2'), 
         url(./font/open-sans-v17-latin-regular.woff) format('woff'), 
         url(./font/open-sans-v17-latin-regular.ttf) format('truetype'), 
         url(./font/open-sans-v17-latin-regular.svg#OpenSans) format('svg'); 
    
  }

body {
    font-family: 'Open-Sans';
    background: #fafafa;
    font-size: 16px !important;
    background-image: url(../images/Background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
}

.middleContent
{
    width: 100%;
}

.heading{
    background: rgb(251, 182, 19);
    color: #000;
    padding: 2px;
}
.headingTitle{
    padding: 0;
    line-height: 0;
    color: #418255;
    font-size: 18px;
}
.descriptionBox
{
    width: 95%;
    margin: 0 auto;
}
.title
{
    color: rgb(251, 182, 19);
}
.description
{
    font-size: 18px;
    color: #000;
    font-weight: 600;
}
.tabButton{
    height: 50px;
    background: rgb(251, 182, 19);
    color: #fff;
    font-size: 16px;
    border: 1px solid #f3f3f3;
    width: 33%;
    text-align: left;
    padding: 0 15px;
    cursor: pointer;
}

.tabButton:hover{
    background: rgb(206, 148, 10);
}
.tabButtonActive{
    background: rgb(186, 191, 0);
}
.tabHeadBox{
    display: flex;
    background: rgb(235, 236, 205);
    justify-content: space-between;
}
.tabBox{
    display: none;
    background: rgb(235, 236, 205);
    justify-content: space-between;
    min-height: 390px;
}
.tabContentBox
{
    width: 50%;
    padding: 0 0 0 20px;
}
.tabContentHeading
{
    color: #acbe1e;
}
.tableBox{
    margin-left: 15%;
    margin-top: 20px;
}
table {
    border-collapse: collapse;
    border: 1px solid black;
  }
  table, td, th {
    border: 1px solid black;
    padding: 5px 20px;
  }
  thead tr
  {
    background: rgb(190, 196, 0);
  }
tbody tr{
    background: rgb(250, 236, 209);
}

  
  
  